@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.header{
    padding: 16px;
    background-color: #1f2937;
    color: white;
    height: 450px;
}

.navigation{
    display: flex;
    justify-content: space-around;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 50px;
}

a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.header-container{
    margin: auto;
    margin-top: 50px;
    display: flex;
    height: 300px;
    max-width: 1000px;
}

h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.btn{
    padding: 10px 40px;
    background-color: #3882f6;
    border: none;
    elevation: 5;
    border-radius: 5px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}

.second{
    text-align: center;
    padding: 32px;
    height: 400px;
}

h3{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.second-container{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.box{
    width: 150px;
    text-align: initial;
}

.card{
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 5px;
}

img{
    object-fit: cover;
}

p{
    font-size: 14px;
}

.third{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    background-color: #E5E7EB;
}

.third-container{
    width: 700px;
}

.quote{
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.credit{
    width: 150px;
    margin-left: auto;
}

.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.fourth-container{
    display: flex;
    justify-content: space-around;
    padding: 40px 120px;
    background-color: #3882f6;
    border-radius: 5px;
    width: 1000px;
}

h4{
    margin: 0;
    color: #F9FAF8;
    font-size: 24px;
}

.desc{
    color:#E5E7EB;
}

.other{
    border: 2px solid #E5E7EB;
    height: 50px;
}

.footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
}


